body{
  margin: 0;
  font-family:sans-serif ;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background:url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60") ;
overflow: hidden;
}
h1{
  text-transform: uppercase;
  letter-spacing:2px ;
  font-size: 40px;
  text-align: center;
}
.clock{
  display: flex;
}
.clock div{
  margin: 5px;

}
.clock span{
  width: 100px;
  height: 80px;
  background: lightblue;
  opacity: .8 ;
  color: darkblue;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  text-shadow: 2px 2px 2px 4px rgba(0,0,0,0.3);

}
.clock .text{
  height: 50px;
  font-size: 20px;
text-transform: uppercase;
letter-spacing: 2px;
background: lightseagreen;
background-size: cover;
opacity: 0.8;

}
.clock #ampm{

  position:absolute;
  width: 80px;
  height:90px;
  font-size: 50px;
  background: pink;

}